.container {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #7ae582;
    padding: 5px;
    align-items: center;
}
.my-content {
    --background: rgb(116,172,223);
    --background: linear-gradient(0deg, rgba(116,172,223,1) 0%, rgba(255,255,255,1) 50%, rgba(116,172,223,1) 100%);
}